<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css' /> 
    <% include partials/head %>
  </head>

  <body>

    <main class="container_fluid">
          <h1>Welcome to RentCalc</h1>  
          <button class="btn btn-rounded" onclick="location.href='/signup'">Get Started</button>
          <p>Are you admin? <a href="/login">Login</a></p>
    </main>    

    <% include partials/footer %>
    <% include partials/script %>
  </body>  
</html>
