<!DOCTYPE html>
<html lang="en">

    <head>
            <title><%= title %></title>
            <link rel='stylesheet' href='stylesheets/login.css' /> 
            <% include partials/head %>
    </head>

    <body>
            <main>                
                <div class="overlay">
                        <div class="container">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:-webkit-center">
                                        <div class="login_container">
                                                <p>LOGIN</p>
                                                <input class="form-control" type="email" id="email" placeholder="Email" required>
                                                <p id="email_error" class="error"></p>
                                                <input class="form-control" type="password" id="password" placeholder="Password" required min="8">
                                                <p id="password_error" class="error"></p>
                                                <p id="login_error" class="error"></p>
                                                <button type="submit" id="login_btn" onclick="login()">Login</button>
                                                <p class="extra_p">New to RentCalc?<a href="/signup">SIGNUP</a></p>

                                        </div>                                       
                                    </div>
                                </div>
                        </div>
                </div>                
            </main>
            <% include partials/footer %>
            <% include partials/script %>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script async src="javascripts/login.js"></script>        
    </body>
</html>    