<!DOCTYPE html>
<html lang="en">

    <head>
            <title><%= title %></title>
            <link rel='stylesheet' href='stylesheets/login.css' /> 
            <link rel='stylesheet' href="stylesheets/signup.css" />
            <% include partials/head %>
    </head>

    <body>
            <main>                
                <div class="overlay">
                        <div class="container">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:-webkit-center">
                                        <div class="login_container">
                                                <p>SIGNUP</p>
                                                <input class="form-control" type="text" id="name" placeholder="Full Name*" required>
                                                <p id="name_error" class="error"></p>
                                                <input class="form-control" type="email" id="email" placeholder="Email*" required>
                                                <p id="email_error" class="error"></p>
                                                <input class="form-control" type="password" id="password" placeholder="Password*" required   minlength="8">
                                                <p id="password_error" class="error"></p>
                                                <input class="form-control" type="password" id="confirm_password" placeholder="Confirm Password*" required minlength="8">
                                                <p id="confirm_password_error" class="error"></p>
                                                <input class="form-control" type="number" id="mobile" placeholder="Mobile" maxlength="10">
                                                <p id="mobile_error" class="error"></p>
                                                <p id="signup_error" class="error"></p>
                                                <button type="submit" id="signup_btn" onclick="signup()">Get Start</button>
                                                <p class="extra_p">Already Signed Up?<a href="/login">LOGIN</a></p>
                                        </div>                                       
                                    </div>
                                </div>
                        </div>
                </div>                
            </main>
            <% include partials/footer %>
            <% include partials/script %>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script async src="javascripts/signup.js"></script>        
    </body>
</html>    