main{
  height: -webkit-fill-available;
  width: 100%;
  background-image: url("./../images/index/index_bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center !important;
}

h1{
  color: #dbdfde !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 48px !important;
  font-weight: 700 !important;
  line-height: 64px !important;
  padding-top: 20%;
  -webkit-animation-name: slidedown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: slidedown;
  animation-duration: 2s;
  margin-bottom: 0px !important;
}

button{
  width: 200px;
  height: 50px;
  border: 1px solid #b4dfde;
  background: #7cc4c9;
  border-radius: 10px !important;
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 35px !important;
  color:#293423;
  margin-top: 25px !important;
}

button:hover{
  color:white;
  box-shadow: 2px 2px 1px rgba(124, 196, 201,0.5);
}

p{
  color: #7cc4c9;
  font-family: "Segoe UI", sans-serif;
  margin-top: 20px !important;
  font-size: initial !important;
  font-weight: 400;
  line-height: 24px;
}

p a{
  color: #dbdfde;
  padding-left: 5px;
}

p a:active{
  color:#7cc4c9;
}

p a:hover{
  color:#7cc4c9;
}



@media screen and (max-width: 425px){
  main{
    height: -webkit-fill-available;
    width: 100%;
    background-image: url("./../images/index/index_bg_mob.jpg");
    background-position: center;
    background-size: cover;
    text-align: center !important;
  }
  h1{
    padding-top: 50%;
    font-size: 28px !important;  
    -webkit-animation-name: slidedown_mob; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: slidedown_mob;
    animation-duration: 2s; 
  }
  button{
    width: 150px;
    height: 40px;
    border: 1px solid #b4dfde;
    background: #7cc4c9;
    border-radius: 10px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 35px !important;
    color: #293423;
    margin-top: 0px !important;
    padding: 0px !important;
  }
}

@keyframes slidedown {
  from  {padding-top: 0% }  
  to {padding-top: 20%}
}

@-webkit-keyframes slidedown {
  from  {padding-top: 0% }  
  to {padding-top: 20%}
}

@keyframes slidedown_mob {
  from  {padding-top: 0% }  
  to {padding-top: 50%}
}

@-webkit-keyframes slidedown_mob {
  from  {padding-top: 0% }  
  to {padding-top: 50%}
}