main{
    height: -webkit-fill-available;
    width: 100%;
    background-image: url("./../images/login/login_bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: center !important;
}

.overlay{
    height: -webkit-fill-available;
    width: 100%;
    background: rgba(124, 196, 201, 0.253);
}

.login_container{
    margin-top: 25%;
    width: fit-content;
    background: hsla(0, 0%, 100%, 0.83);
    border-radius: 20px;
    padding: 30px;
}

.login_container p{
    color: #7cc4c9;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

#email{   
    margin-bottom: 0px;   
    width: 250px; 
}

#password{    
    margin-top: 15px;    
    width: 250px; 
}

button{
    width: 130px;
    background: #7cc4c9;
    margin-top: 15px !important;
    border: 1px solid #b4dfde;
    border-radius: 10px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 35px !important;
    color: #293423;
}

button:hover{
    color:white;
    box-shadow: 2px 2px 1px rgba(124, 196, 201,0.5);
}

.error{   
    width: inherit; 
    font-size: 10px !important;
    margin-top: 10px;
    line-height: 10px !important;
    text-align: -webkit-left;
    color: red !important;
}

.extra_p{
    font-size: small !important;
    font-weight: bold !important;
    margin-top: 15px;
    margin-bottom: 0px;
    color:  #293423 !important;
}

.extra_p a{
    font-size: small !important;
    font-weight: bold !important;
    padding-left: 5px;
    color: #7cc4c9;    
  }
  
.extra_p a:active{
    color:#7cc4c9;
  }
  
.extra_p a:hover{
    color:#293423;
  }
  



  